.header{
    background-color: $bg-color-header-footer;
    height: 49px;
    padding: 0 16px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_mobile{
    width: 136px;
    height: 35px;
}

.burger {
    width: 49px;
    height: 13px;
    background-color: inherit;
   
   

}

.burger_image{
   display: flex;
   gap: 5px;
    
}
